<{foreach from=$robots item=robot}>

robot-id: <{$robot.robot_id}>
robot-name: <{$robot.robot_name}>
robot-cover-url: <{$robot.robot_cover_url}>
robot-details-url: <{$robot.robot_details_url}>
robot-owner-name: <{$robot.robot_owner_name}>
robot-owner-url: <{$robot.robot_owner_url}>
robot-owner-email: <{$robot.robot_owner_email}>
robot-status: <{$robot.robot_status}>
robot-purpose: <{$robot.robot_purpose}>
robot-type: <{$robot.robot_type}>
robot-platform: <{$robot.robot_platform}>
robot-availability: <{$robot.robot_availability}>
robot-exclusion: <{$robot.robot_exclusion}>
robot-exclusion-useragent: <{$robot.robot_exclusion_useragent}>
robot-noindex: <{$robot.robot_noindex}>
robot-host: <{$robot.robot_host}>
robot-from: <{$robot.robot_from}>
robot-useragent: <{$robot.robot_useragent}>
robot-language: <{$robot.robot_language}>
robot-description: <{$robot.robot_description}>
robot-history: <{$robot.robot_history}>
robot-environment: <{$robot.robot_environment}>
modified-date: <{$robot.modified_date}>
modified-by: <{$robot.modified_by}>
robot-safeuseragent: <{$robot.robot_safeuseragent}>
robot-handlesession: <{$robot.robot_handlesession}>
<{/foreach}>